.article-section{
  .row{
    .container{
      .row{
        .meta-info{
          color: #747572;
          font-style: italic;
          small{
            margin-right: 10px;
          }
        }
      }
    }
  }
}