.container-fluid.first-row-header{
  background-color: #15263E;
  color: #fff;
  .row{
    .container{
      .row{
        align-items: center;
        justify-content: space-between;
        .contact{
          margin-bottom: unset;
          @include md-center;
          @include xs-space-evenly;
          li{
            a{
              text-decoration: none;
              color: #fff;
            }
          }
        }
        form{
          justify-content: flex-end;
          @include md-center;
          button{
            @include xs-w-100;
          }
        }
      }
    }
  }
}
.container-fluid.second-row-header{
  .row{
    .container{
      .row{
        .navbar{
          a.navbar-brand{
            img{
              max-width: 210px;
            }
          }
          .main_menu{
            ul.navbar-nav{
              li{
                &.wpglobus-current-language{
                  position: relative;
                  ul.dropdown-menu{
                    li{
                      a{
                        padding-right: .5rem;
                        padding-left: .5rem;
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}